<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CORD-19 topics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <a class="navbar-brand" href="/">Topics:</a>
        <div class="navbar-nav-scroll ">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            {{#topic_menu}}
            <li class="nav-item">
              <a href="/topic/{{name}}" class="nav-link {{#active}}active{{/active}}">{{name}}</a>
            </li>
            {{/topic_menu}}
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="/search">
          <input class="form-control mr-sm-2" type="text" placeholder="Requête" name="query" aria-label="Search" value="{{query}}">
          <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Rechercher">
        </form>
      </div>
    </nav>

  <main role="main" class="container mt-3 mb-5">
