{{> header}}
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
      <p class="text-muted">{{authors}}</p>
      <p>{{publication_date}}</p>
      <p>
      {{#topic-pred}}
      <span class="badge badge-secondary">{{.}}</span>
      {{/topic-pred}}
      </p>
      <p><strong>Abstract :</strong> {{abstract}}</p>
      <p>
        <a class="btn btn-outline-primary" href="{{url}}" target="_blank">Read full-text</a>
      </p>
    </div>
  </div>
{{> footer}}
