{{> header}}


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {{#results}}
      <div class="col mb-3">
          <div class="card mb-4 h-100">
            <div class="card-body">
              <h5 class="card-title"><a href="/article/{{_id}}">{{title}}</a></h5>
              <h6 class="card-subtitle text-muted">{{authors}}</h6>
              <p class="card-text">
              {{#topic-pred}}
              <span class="badge badge-secondary">{{.}}</span>
              {{/topic-pred}}
              </p>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-primary" href="{{url}}">Full text</a>
              <span class="card-text text-muted float-right">{{publication_date}}</span>
            </div>
          </div>
      </div>
      {{/results}}
  </div>

  {{#next_page}}
  <div class="row">
    <div class="col text-center">
      {{num_found}} articles {{#page}} (page {{page}}/{{num_pages}}) {{/page}}
      <a class="btn btn-primary ml-3" href="/topic/{{topic}}?page={{next_page}}">Next page</a>
    </div>
  </div>
  {{/next_page}}

{{> footer}}
